/* NAVBAR */
.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: remcalc(14) remcalc(20);
  box-shadow: 0 remcalc(10) remcalc(30) 0 rgba(155,179,196,0.2);

  & > svg {
    display: block;

    &:first-child { margin: 0 remcalc(20) 0 0; }
  }
}

/* Home */
.homeSection {
  padding: remcalc(16) 0 0;
}

.moodBlock {
  position: relative;
  padding: remcalc(14) remcalc(16);
  font-size: remcalc(12);
  font-weight: $bold;
  text-transform: uppercase;
  border-radius: remcalc(8);
  box-shadow: 0 remcalc(10) remcalc(30) 0 rgba(155,179,196,0.3);

  &:before,
  &:after {
    position: absolute;
    display: block;
    left: 0;
  }

  &:before {
    top: remcalc(-24);
    content: 'Today';
    color: $fern;
  }
}
