$_CONTAINER_WIDTH: 375 !default;
$_CONTAINER_HEIGHT: 667 !default;

$_BUTTON_HEIGHT: 48 !default;

$_MOOD_ICON_HEIGHT: 44 !default;

.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.appContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: scroll;

  @media #{$screen-sm} {
    max-width: remcalc($_CONTAINER_WIDTH);
    box-shadow: 0 6px 20px 0 rgba($black, .1);
    max-height: remcalc($_CONTAINER_HEIGHT / 1.1);
  }

  &.isFixed {
    padding: 0 0 remcalc($_BUTTON_HEIGHT + 30);

    @media #{$screen-sm} {
      display: flex;
      flex-direction: column;
      padding: 0 0 remcalc(20);
    }

    .primaryButton {
      position: fixed;
      bottom: remcalc(20);
      left: remcalc(20);
      width: calc(#{100%} - #{2 * remcalc(20)});

      @media #{$screen-sm} {
        position: static;
        width: 100%;
      }
    }
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: remcalc(28) remcalc(20);
}

.container {
  margin: 0 auto;
  padding: 0 remcalc(20);
}

.primaryButton {
  display: block;
  width: 100%;
  height: remcalc($_BUTTON_HEIGHT);
  line-height: remcalc($_BUTTON_HEIGHT);
  background: $portgore;
  color: $white;
  font-size: remcalc(14);
  text-transform: uppercase;
  font-weight: $bold;
  border: 0;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: remcalc($border-radius);
  cursor: pointer;
  user-select: none;
  transition: background .6s $ease-cubic;

  &:hover {
    background: rgba($portgore, .8);
  }

  &.isDisabled {
    pointer-events: none;
    background: rgba($portgore, .4);
  }
}

.noEvents {
  pointer-events: none;
}

.moodIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: remcalc($_MOOD_ICON_HEIGHT);
  margin: 0 0 remcalc(16);
  padding: 0;
  border: 0;
  user-select: none;
  border-radius: remcalc($border-radius);
  box-shadow: 0 remcalc(10) remcalc(20) 0 rgba($gullgray, .3);
  background: $gradient-inactive;
  cursor: pointer;
  transition: box-shadow .6s $ease-cubic, transform .6s $ease-cubic;

  &:focus {
    outline: 0;
  }

  & > svg {
    display: block;
    height: 70%;
    filter: grayscale(1);
  }

  &.isSad {
    box-shadow: 0 remcalc(10) remcalc(20) 0 rgba($punch, .3);
    background: $gradient-sad;
    transform: scale(1.02);

    & > svg {
      filter: grayscale(0);
    }
  }

  &.isUnhappy {
    box-shadow: 0 remcalc(10) remcalc(20) 0 rgba($froly, .3);
    background: $gradient-unhappy;
    transform: scale(1.02);

    & > svg {
      filter: grayscale(0);
    }
  }

  &.isNeutral {
    box-shadow: 0 remcalc(10) remcalc(20) 0 rgba($creamcan, .3);
    background: $gradient-neutral;
    transform: scale(1.02);

    & > svg {
      filter: grayscale(0);
    }
  }

  &.isSatisfied {
    box-shadow: 0 remcalc(10) remcalc(20) 0 rgba($mossgreen, .3);
    background: $gradient-satisfied;
    transform: scale(1.02);

    & > svg {
      filter: grayscale(0);
    }
  }

  &.isHappy {
    box-shadow: 0 remcalc(10) remcalc(20) 0 rgba($fern, .3);
    background: $gradient-happy;
    transform: scale(1.02);

    & > svg {
      filter: grayscale(0);
    }
  }
}
