/* Base */
$base-size: 10 !default;
$font-size: ($base-size * 1px) !default;

/* Font Stack */
$primary-font: 'Roboto' !default;

// Weight
$light: 300 !default;
$regular: 400 !default;
$bold: 700 !default;

// Sizes

/* Transition */
$ease-cubic: cubic-bezier(.17, .67, .47, 1);

/* Misc */
$border-radius: 8 !default;
